<form novalidate class="form-horizontal">
  <i class="wdsk-icon wdsk-icon-close wdsk-icon-xs" (click)="closeCalnedarPopup()"></i>
  <div class="pb-1">
    <strong>{{'CHOOSE_DATE_TEXT' }}</strong>
  </div>
  

  <div class="form-group row">
    <div class="col-md-6">
      <label class="c-radio">
        <input id="reviewId" type="radio" name="i-radio" value="review" [checked]="reviewCheckVal" (click)="dateTypeSelectionChanged('review')" />
        <span class="wdsk-icon wdsk-icon-circle"></span>{{'REVIEW' }}
      </label>
    </div>
    <div class="col-md-6">
      <label class="c-radio">
        <input id="auditId" type="radio" name="i-radio" value="audit" [checked]="auditCheckVal" (click)="dateTypeSelectionChanged('audit')" />
        <span class="wdsk-icon wdsk-icon-circle"></span>{{'AUDIT' }}
      </label>
    </div>
  </div>



  <div>
    <ngb-datepicker #datePicker [(ngModel)]="calCurrSelectedDate" firstDayOfWeek=7 name="date-picker" (select)="onDateSelection($event)"
      [minDate]="getMinDateVal()" [maxDate]="getMaxDateVal(datePicker)" [dayTemplate]="dateReviewAuditType == 'audit' ? t : ''"
      [markDisabled]="isEligibleForDisable">
    </ngb-datepicker>
    <ng-template #t let-date="date" let-focused="focused" let-disabled="disabled">
      <div class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="isMouseAction(date)" (mouseleave)="isMouseAction(null)" [class.disabled]="disabled">
        {{ date.day }}
      </div>
    </ng-template>

  </div>

  <div class="date_selected">
      <div >
          <label class="text-dark">{{'SELECTED_TEXT'}}</label>

        <div >
              <input type="numeric" class="mt-1 mb-3 form-control" name="formattedDate"  [(ngModel)]="formattedDate" />
              <button type="button" class="btn btn-ms btn-primary" (click)="populateDate();">{{'SELECT_BUTTON'
            }}</button>
        </div>
      </div>
  
  </div>

</form>